@charset "UTF-8";

/* SEÇÕES TERMINADAS 

- EXPLORE THE WORLD
- DISCOVER
- SEVICES [x]
- HOT TOURS [X]
- INTEGRANTES [X]
- GALERIA
- RODAPE [X]


*/

@media screen and (min-width: 411px) {

    /* SEÇÃO PASSEIOS DIFERENTES */
    .secaoPasseiosDiferentes__integrantes:hover.secaoPasseiosDiferentes__integrantes img {
        top: 0rem;
    }
    
    .secaoPasseiosDiferentes__integrantes:hover.secaoPasseiosDiferentes__integrantes .circulo {
        opacity: 1;
        top: 50%;
    }
    
    .integrante__foto .circulo {
        top: 64%;
    }
    
    .secaoPasseiosDiferentes__integrantes img {
        top: 1rem;
    } 

    /* INFORMAÇÕES */
    .rodape__info {
        text-align: left;
    }

    .rodape__listaInfo h3 {
        text-align: left;
    }

    .info__listaLinksRapidos {
        display: block;
        columns: 2;
    }

    .info__link {
        margin-bottom: 0.5rem;
    }

    .info__contato {
        width: auto;
        margin: unset;
    }

}

@media screen and (min-width: 768px) {

    /* SEÇÃO COMPRA DE PASSEIO */
    .secaoCompraPasseio__passeio {
        display: flex;
        gap: 2rem;
    }

    .secaoCompraPasseio__img {
        width: 50%;
    }

    /* DESCRIÇÃO */
    .secaoCompraPasseio__descricao {
        width: 50%;
    }

    .descricao__preco span {
        width: 4.5rem;
        height: 3.5rem;
        font-size: 1.1em;
        font-weight: 500;
    }
    
    .descricao__preco span::before {
        top: 2.3rem;
        width: 2.375rem;
        left: -25px;
        background-color: white;
        transform: rotate(322deg);
    }

    /* CRÉDITOS */
    .rodape__creditos > .container {
        justify-content: space-between;
        text-align: unset;
    }

    .rodape__icones {
        order: unset;
    }

}