@charset "UTF-8";

/* SEÇÕES TERMINADAS 

- EXPLORE THE WORLD
- DISCOVER
- SEVICES [x]
- HOT TOURS [X]
- INTEGRANTES [X]
- GALERIA
- RODAPE [X]


*/

@media screen and (min-width: 411px) {

    /* SEÇÃO DISCOVER */
    .secaoDiscover__descricaoInfo a {
        display: inline-block;
    }

    .secaoDiscover__descricaoInfo a:not(:last-child) {
        margin-right: 0.7rem;
    }

    /* SEÇÃO PASSEIOS DIFERENTES */
    .secaoPasseiosDiferentes__integrantes:hover.secaoPasseiosDiferentes__integrantes img {
        top: 0rem;
    }
    
    .secaoPasseiosDiferentes__integrantes:hover.secaoPasseiosDiferentes__integrantes .circulo {
        opacity: 1;
        top: 50%;
    }
    
    .integrante__foto .circulo {
        top: 64%;
    }
    
    .secaoPasseiosDiferentes__integrantes img {
        top: 1rem;
    } 

    /* INFORMAÇÕES */
    .rodape__info {
        text-align: left;
    }

    .rodape__listaInfo h3 {
        text-align: left;
    }

    .info__listaLinksRapidos {
        display: block;
        columns: 2;
    }

    .info__link {
        margin-bottom: 0.5rem;
    }

    .info__contato {
        width: auto;
        margin: unset;
    }

}

@media screen and (min-width: 768px) {

    /* CABEÇALHO */
    .cabecalho {
        padding: 0;
        height: auto;
    }

    .cabecalho__btnMenu, .cabecalho__logo {
        display: none;
    }

    .cabecalho__listaMenu {
        position: unset;
        background-color: transparent;
        display: flex;
        align-items: center;
        height: auto;
        width: auto;
        border-left: unset;
        padding-top: 0;
        transition: unset;
        gap: 1rem;
    }

    .cabecalho__itemMenu a {
        display: block;
        color: white;
        padding: 0.93rem;
        margin-bottom: 0;
        font-weight: 500;
        padding: 1.2rem;
        position: relative;
    }

    .cabecalho__itemMenu a::before {
        content: '';
        background-color: #01b3a7;
        height: 3px;
        width: 0%;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: left;
        transition: .4s;
        
    }

    .cabecalho__itemMenu a:hover {
        background: rgba(255, 255, 255, 0.11);
    }

    .cabecalho__itemMenu a:hover::before {
        width: 100%;
    }

    .cabecalho__itemMenu #linkDestaque {
        background: rgba(255, 255, 255, 0.11);
        border-top: 3px solid #01b3a7;
    }
    .cabecalho__itemMenu #linkDestaque:hover::before {
        width: 0;
    }

    .cabecalho__iconesRedes {
        position: unset;
        border-bottom: unset;
        width: auto;
        height: auto;
    }

    .cabecalho__iconesRedes a {
        color: white;
    }

    /* SEÇÃO CATEGORIA */
    .secaoCategoria {
        padding: 20rem 3rem 5rem 3rem;
        position: relative;
    }

    .secaoCategoria__listaCategoria {
        display: flex;
        position: absolute;
        top: -3rem;
        right: 0;
        max-width: 61.25rem;
        left: 0;
        margin: auto;
        gap: 1rem;
    }

    .secaoCategoria__itemCategoria {
        overflow: hidden;
        position: relative;
        max-width: 18.8rem;
        width: 100%;
        margin: auto auto 2rem auto;
        height: 19rem;
    }

    /* SEÇÃO DISCOVER */
    .secaoDiscover__descricaoInfo {
        text-align: left;
    }

    .secaoDiscover__listaInfo {
        justify-content: space-between;
        border-bottom: 3px solid var(--cinza);
    }
    
    .secaoDiscover__itemInfo label {
        border-top: unset;
        border-bottom: unset;
    }

    .secaoDiscover__itemInfo label::before {
        left: 10px;
    }

    .secaoDiscover__descricaoInfo p {
        text-align: left;
    }
    
    .secaoDiscover__descricaoInfo a {
        text-align: center;
    }

    /* SEÇÃO COMPRA DE PASSEIO */
    .secaoCompraPasseio__passeio {
        display: flex;
        gap: 2rem;
        border: 1px solid var(--cinza);
    }

    .secaoCompraPasseio__img {
        width: 50%;
        margin-bottom: unset;
    }

    /* DESCRIÇÃO */
    .secaoCompraPasseio__descricao {
        width: 50%;
    }

    .descricao__preco span {
        width: 4.5rem;
        height: 3.5rem;
        font-size: 1.1em;
        font-weight: 500;
    }
    
    .descricao__preco span::before {
        top: 2.3rem;
        width: 2.375rem;
        left: -25px;
        background-color: white;
        transform: rotate(322deg);
    }

    /* CRÉDITOS */
    .rodape__creditos > .container {
        justify-content: space-between;
        text-align: unset;
    }

    .rodape__icones {
        order: unset;
    }

    .info__linksRapidos > a {
        margin: unset;
    }

}

@media screen and (min-width: 990px) {
    
    .container {
        max-width: 940px;
    }

    .secaoDiscover > .container {
        display: flex;
        gap: 1.5rem;
    }

    .secaoDiscover__img, .secaoDiscover__infoDiscover {
        width: 50%;
    }


    /* INFORMAÇÕES DISCOVER */
    .secaoDiscover__infoDiscover h2 {
        font-size: 2.3em;
    }

    .secaoDiscover__listaInfo {
        flex-wrap: nowrap;
    }

    .secaoDiscover__itemInfo label {
        font-size: 0.96em;
    }

    /* LISTA DA GALERIA */
    .secaoGaleria___listaGaleria {
        flex-direction: row;
    }

}

@media screen and (min-width: 1200px) {
    
    .container {
        max-width: 1200px;
    }
 
}    