@charset "UTF-8";

@media screen and (min-width: 768px) {
    
    /* SEÇÃO PASSEIOS DIFERENTES */
    .secaoPasseiosDiferentes__integrantes:hover.secaoPasseiosDiferentes__integrantes img {
        top: 0rem;
    }
    
    .secaoPasseiosDiferentes__integrantes:hover.secaoPasseiosDiferentes__integrantes .circulo {
        opacity: 1;
        top: 50%;
    }
    
    .integrante__foto .circulo {
        top: 64%;
    }
    
    .secaoPasseiosDiferentes__integrantes img {
        top: 1rem;
    }

    /* SEÇÃO COMPRA DE PASSEIO */
    .secaoCompraPasseio__passeio {
        display: flex;
        gap: 2rem;
    }

    .secaoCompraPasseio__img {
        width: 50%;
    }

    /* DESCRIÇÃO */
    .secaoCompraPasseio__descricao {
        width: 50%;
    }

}