@charset "UTF-8";

/* CONFIGURAÇÕES GLOBAIS */
:root {

    --branco: #fff;
    --cinza: #9b9b9b;
    --azulClaro: #01b3a7;
    --azulEscuro-1: #162e44;
    --azulEscuro-2: #11263a;
    --preto: #151515;

    --fonte: "Montserrat", sans-serif, Arial, sans-serif;

} img {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte);
}

.container {
    margin: 0 auto;
    max-width: 940px;
}

/* CABEÇALHO */
.cabecalho {
    background-color: var(--azulEscuro-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    height: 4.4rem;
}

/* MENU */
.cabecalho__menuNavegacao {
    display: flex;
    align-items: center;
}

/* BOTÃO MOBILE MENU */
.cabecalho__btnMenu {
    border: none;
    background-color: transparent;
    position: relative;
}

.cabecalho__btnMenu span, .cabecalho__btnMenu span::before, .cabecalho__btnMenu span::after {
    content: '';
    background-color: white;
    height: 0.18rem;
    width: 1.6rem;
    display: block;
    position: absolute;
    transition: .3s;
}

.cabecalho__btnMenu span {}

.cabecalho__btnMenu span::before {
    top: -10px;   
}

.cabecalho__btnMenu span::after {
    bottom: -10px;
}

/* CLASSE ATIVADA COM JAVASCRIPT */
.cabecalho__btnMenu .cabecalho__btnMenu.ativado .hamburguer {
    transform: rotate(360deg);
}

.cabecalho__btnMenu.ativado .cabecalho__btnMenu .hamburguer::before {
    width: 15px;
    top: 16px;
    transform: rotate(45deg);
}

.cabecalho__btnMenu.ativado .cabecalho__btnMenu .hamburguer.ativado::after {}

.cabecalho__listaMenu {
    position: fixed;
    background-color: var(--branco);
    list-style: none;
    left: 0;
    height: 100vh;
    width: 15rem;
    top: 4.4rem;
    border-left: 3px solid var(--cinza);
    padding-top: 6rem;
}

.cabecalho__itemMenu {}

.cabecalho__itemMenu a {
    display: block;
    text-decoration: none;
    color: var(--azulEscuro-2);
    padding: 0.93rem;
    margin-bottom: 0.2rem;
}

.cabecalho__itemMenu a:hover {
    background-color: var(--azulClaro);
    color: white;
    transition: .5s;
}

.cabecalho__itemMenu #linkDestaque {
    background-color: var(--azulClaro);
    color: white;
}

/* ÍCONES REDES SOCIAIS */
.cabecalho__iconesRedes {
    height: 5rem;
    position: absolute;
    width: 15rem;
    top: 4.4rem;
    border-bottom: 1px solid var(--cinza);
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cabecalho__iconesRedes a {
    color: var(--preto);
    font-size: 1.2em;
}

.cabecalho__iconesRedes a:hover {
    color: var(--preto);
    font-size: 1.2em;
    color: var(--azulClaro);
    transition: .5s;
}

.cabecalho__iconesRedes a i {}

/* CONTEÚDO */
.conteudo {
    padding-top: 6rem;
}

/* SEÇÃO INTRODUÇÃO */
.secaoIntroducao {}

.secaoIntroducao h3 {}

.secaoIntroducao h1 {}

.secaoIntroducao h1 strong {}

.secaoIntroducao a {}

/* SEÇÃO CATEGORIA */
.secaoCategoria {}

.secaoCategoria__navegacao {}

.secaoCategoria__listaCategoria {}

.secaoCategoria__itemCategoria {}

.secaoCategoria__itemCategoria a {}

.secaoCategoria > a {}

/* SEÇÃO DISCOVER NEW HORIZONS */
.secaoDiscover {}

/* IMAGEM */
.secaoDiscover__img {} 

.secaoDiscover__img img {}

/* INFORMAÇÕES DISCORVER */
.secaoDiscover__infoDiscover {}

.secaoDiscover__infoDiscover h2 {}

.secaoDiscover__listaInfo {}

.secaoDiscover__itemInfo {}

.secaoDiscover__itemInfo a {}

/* DESCRIÇÃO INFORMAÇÕES */
.secaoDiscover__descricaoInfo {}

.secaoDiscover__descricaoInfo p {}

.secaoDiscover__descricaoInfo a {}

/* SEÇÃO DE SERVIÇOS */
.secaoServicos {}

.secaoServicos h2 {}

.secaoServicos__listaServicos {}

.secaoServicos__itemServicos {}

.secaoServicos__itemServicos span {}

.secaoServicos__itemServicos span i {}

.secaoServicos__itemServicos h3 {}

.secaoServicos__itemServicos p {}

/* SEÇÃO COMPRA DE PASSEIO */
.secaoCompraPasseio {}

.secaoCompraPasseio h2 {}

.secaoCompraPasseio__passeio {}

.secaoCompraPasseio__img {}

.secaoCompraPasseio__img img {}

/* DESCRIÇÃO */
.secaoCompraPasseio__descricao {}

.secaoCompraPasseio__descricao span {}

.secaoCompraPasseio__descricao h3 {}

/* AVALIAÇÃO */
.descricao__estrelaAvaliacao {}

.descricao__estrelaAvaliacao span {}

.descricao__estrelaAvaliacao span i {}

.descricao__estrelaAvaliacao a {}

.secaoCompraPasseio__descricao p {}

.secaoCompraPasseio__descricao a {}

/* SEÇÃO PASSEIOS DIFERENTES  */
.secaoPasseiosDiferentes {}

.secaoPasseiosDiferentes h2 {}

.secaoPasseiosDiferentes__listaIntegrantes {}

.secaoPasseiosDiferentes__integrantes {}

.secaoPasseiosDiferentes__integrantes img {}

.secaoPasseiosDiferentes__integrantes h2 {}

.secaoPasseiosDiferentes__integrantes span {}

.secaoPasseiosDiferentes__integrantes a {}

/* SEÇÃO PRIMEIRAS IMPRESSÕES */
.secaoPrimeirasImpressoes {}

.secaoPrimeirasImpressoes h2 {}

.secaoPrimeirasImpressoes p {}

.secaoPrimeirasImpressoes a {}

/* SEÇÃO GALERIA */
.secaoGaleria {}

.secaoGaleria h3 {}

.secaoGaleria___listaGaleria {}

.secaoGaleria__itemGaleria {}

.secaoGaleria__itemGaleria img {}

.secaoGaleria__itemGaleria a {}

/* RODAPÉ */
.rodape {}

/* INFORMAÇÕES */
.rodape__info {}

.rodape__listaInfo {}

.rodape__listaInfo h3{}

/* ITEM CONTATO */
.contactUs {}

.info__contato {}

.info__contato span {}

.info__contato span i {}

.info__contato a {}

/* ITEM NOTICÍA */
.noticias {}

.info__noticiasPopulares {}

.info__noticia {}

.info__noticia a {}

.info__noticia span {}

/* ITEM LINKS RÁPIDOS */
.linksRapidos {}

.info__linksRapidos {}

.info__listaLinksRapidos {}

.info__link {}

.info__link a {}

.info__linksRapidos a {}

/* CRÉDITOS */
.rodape__creditos {}

.rodape__creditos p {}

.rodape__icones {}

.rodape__icones a {}

.rodape__icones a i {}

.rodape__creditos  a {}