@charset "UTF-8";

/* CONFIGURAÇÕES GLOBAIS */
:root {

    --branco: #fff;
    --cinza: #9b9b9b;
    --cinza-claro: #f7f7f7;
    --azulClaro: #01b3a7;
    --verde: #50ba87;
    --azulEscuro-1: #162e44;
    --azulEscuro-2: #11263a;
    --preto: #151515;
    --laranja: #ffcc00;

    --fonte: "Montserrat", sans-serif, Arial, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    color: var(--preto);
}

.container {
    margin: 0 auto;
    max-width: 940px;
}

/* CABEÇALHO */
.cabecalho {
    background-color: var(--azulEscuro-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    height: 4.4rem;
    z-index: 2;
}

/* MENU */
.cabecalho__menuNavegacao {
    display: flex;
    align-items: center;
}

/* BOTÃO MOBILE MENU */
.cabecalho__btnMenu {
    border: none;
    background-color: transparent;
    position: relative;
    margin-right: 3rem;
}

.cabecalho__btnMenu span, .cabecalho__btnMenu span::before, .cabecalho__btnMenu span::after {
    content: '';
    background-color: white;
    height: 0.18rem;
    width: 1.6rem;
    display: block;
    position: absolute;
    transition: .3s;
}

.cabecalho__btnMenu span {}

.cabecalho__btnMenu span::before {
    top: -10px;   
}

.cabecalho__btnMenu span::after {
    bottom: -10px;
}

/* LOGO */
.cabecalho__logo {}

.cabecalho__logo img {
    max-width: 14rem;
}

.cabecalho__listaMenu {
    position: fixed;
    background-color: var(--branco);
    list-style: none;
    left: -100%;
    height: 100vh;
    width: 15rem;
    top: 4.4rem;
    border-left: 3px solid var(--cinza);
    padding-top: 6rem;
}

.cabecalho__itemMenu {}

.cabecalho__itemMenu a {
    display: block;
    text-decoration: none;
    color: var(--azulEscuro-2);
    padding: 0.93rem;
    margin-bottom: 0.2rem;
}

.cabecalho__itemMenu a:hover {
    background-color: var(--azulClaro);
    color: white;
    transition: .5s;
}

.cabecalho__itemMenu #linkDestaque {
    background-color: var(--azulClaro);
    color: white;
}

/* ÍCONES REDES SOCIAIS */
.cabecalho__iconesRedes {
    height: 5rem;
    position: absolute;
    width: 15rem;
    top: 4.4rem;
    border-bottom: 1px solid var(--cinza);
    left: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cabecalho__iconesRedes a {
    color: var(--preto);
    font-size: 1.2em;
}

.cabecalho__iconesRedes a:hover {
    color: var(--preto);
    font-size: 1.2em;
    color: var(--azulClaro);
    transition: .5s;
}

.cabecalho__iconesRedes a i {}

/* CONTEÚDO */
.conteudo {}

/* SEÇÃO INTRODUÇÃO */
.secaoIntroducao {
    background-image: url(../img/banner.jpg);
    padding: 13rem 0.83rem;
    background-position: center;
    background-size: cover;
    color: var(--branco);
}

.secaoIntroducao h3 {
    text-transform: uppercase;
    letter-spacing: 0.050rem;
    font-size: 1em;
    font-weight: 600;
}

.secaoIntroducao h1 {
    font-size: 2.9em;
    font-weight: 400;
    margin: 1rem 0;
}

.secaoIntroducao h1 strong {
    font-weight: 600;
}

.secaoIntroducao a {
    font-weight: 500;
    font-size: 1.3em;
    display: inline-block;
    border: 2px solid var(--branco);
    color: var(--branco);
    text-decoration: none;
    padding: 1rem 1.1em;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.secaoIntroducao a::before {
    content: '';
    background-color: var(--verde);
    height: 100%;
    position: absolute;
    width: 70%;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: all .3s;
    z-index: -1;
}

.secaoIntroducao a:hover {
    border: 2px solid var(--verde);
}

.secaoIntroducao a:hover::before {
    width: 100%;    
    opacity: 1;
}

/* SEÇÃO CATEGORIA */
.secaoCategoria {
    padding: 3rem 3rem 5rem 3rem;
    background-color: var(--cinza-claro)
}

.secaoCategoria__listaCategoria {
    list-style: none;
    margin-bottom: 4rem;
}

.secaoCategoria__itemCategoria {
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
    height: 19rem;
}

.secaoCategoria__itemCategoria:nth-of-type(2) h3 {
    transform: translateX(-50%);
}

.secaoCategoria__itemCategoria a {}

.secaoCategoria__itemCategoria a img {
    width: 100%;
    height: 19rem;
    transition: .5s;
}

.secaoCategoria__itemCategoria a img:hover {
    transform: scale(1.1);
}

.secaoCategoria__itemCategoria h3 {
    position: absolute;
    bottom: 1.5rem;
    color: var(--branco);
    left: 50%;
    transform: translateX(-43%);
    font-weight: 600;
    min-width: 10.7rem;
}

.secaoCategoria__irPara {
    color: var(--preto);
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
}

.secaoCategoria__irPara span {
    display: inline-block;
    height: 0.125rem;
    width: 1.68rem;
    background-color: var(--preto);
    vertical-align: middle;
    margin-left: 0.5rem;
    transition: .5s;
    position: relative;
}


.secaoCategoria__irPara:hover.secaoCategoria__irPara span {
    width: 3rem;
}

.secaoCategoria__irPara span::before {
    content: '';
    position: absolute;
    top: -0.1rem;
    left: 1.7rem;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 9px solid var(--preto);
    transition: .5s;
}

.secaoCategoria__irPara:hover.secaoCategoria__irPara span::before {
    left: 2.8rem;
}

/* SEÇÃO DISCOVER NEW HORIZONS */
.secaoDiscover {
    padding: 4.5rem 1.5rem;
}

/* IMAGEM */
.secaoDiscover__img {} 

.secaoDiscover__img img {
    width: 100%;
    margin-bottom: 2rem;
}

/* INFORMAÇÕES DISCORVER */
.secaoDiscover__infoDiscover {}

.secaoDiscover__infoDiscover h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
    font-size: 1.7em;
}

.secaoDiscover__listaInfo {
    list-style: none;
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.secaoDiscover__itemInfo {}

.secaoDiscover__itemInfo a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    color: var(--cinza);
    border-top: 1px solid var(--cinza);
    border-bottom: 1px solid var(--cinza);
    padding: 0.7rem;
    display: inline-block;
    letter-spacing: 2px;
}

/* DESCRIÇÃO INFORMAÇÕES */
.secaoDiscover__descricaoInfo {
    text-align: center;
}

.secaoDiscover__descricaoInfo p {
    line-height: 1.5rem;
    font-size: 0.88em;
    margin-bottom: 1.5rem;
}

.secaoDiscover__descricaoInfo a {
    display: block;
    width: 10.5rem;
    padding: 1.2rem;
    margin: auto;
    margin-bottom: 1rem;
    text-decoration: none;
    transition: .4s;
    font-weight: 500;
}

.secaoDiscover__descricaoInfo a:nth-child(2) {
    color: var(--branco);
    background-color: var(--azulClaro);
    border: 2px solid var(--azulClaro);
}

.secaoDiscover__descricaoInfo a:nth-child(2):hover {
    color: var(--preto);
    background-color: transparent;
    border: 2px solid var(--preto);
}

.secaoDiscover__descricaoInfo a:nth-child(3) {
    color: var(--preto);
    border: 2px solid var(--preto);
}

.secaoDiscover__descricaoInfo a:nth-child(3):hover {
    background-color: var(--azulClaro); 
    border: 2px solid var(--azulClaro);
    color: var(--branco);
}

/* SEÇÃO DE SERVIÇOS */
.secaoServicos {
    padding: 1.5rem;
}

.secaoServicos h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
    font-size: 1.7em;
}

.secaoServicos__listaServicos {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.secaoServicos__itemServicos {
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    transition: .5s;
}

.secaoServicos__itemServicos::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 8px solid var(--cinza-claro);
}

.secaoServicos__itemServicos:hover {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 17%);
}

.secaoServicos__itemServicos:hover.secaoServicos__itemServicos::before {
    border: none;
}

.secaoServicos__itemServicos span {}

.secaoServicos__itemServicos span i {
    color: var(--azulClaro);
    font-size: 3em;
}

.secaoServicos__itemServicos h3 {
    font-weight: 600;
    transition: .3s;
}

.secaoServicos__itemServicos p {
    line-height: 1.5rem;
    font-size: 0.88em;
    color: var(--cinza);
}

/* SEÇÃO COMPRA DE PASSEIO */
.secaoCompraPasseio {
    padding: 1.5rem;
}

.secaoCompraPasseio h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
    font-size: 1.7em;
}

.secaoCompraPasseio__passeio {
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;
}

.secaoCompraPasseio__passeio:hover.secaoCompraPasseio__passeio .secaoCompraPasseio__img img {
    transform: scale(1.2);
}

.secaoCompraPasseio__img {
    overflow: hidden;
    margin-bottom: 1rem;
}

.secaoCompraPasseio__img img {
    width: 100%;
    transition: .4s;
}

/* DESCRIÇÃO */
.secaoCompraPasseio__descricao {
    padding-top: 1rem;
}

.descricao__preco {
    position: absolute;
    top: 0;
    right: 0;
}

.descricao__preco span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azulClaro);
    width: 3.5rem;
    height: 2.2rem;
    color: var(--branco);
    font-weight: 400;
    font-size: 1.2em;
}

.descricao__preco span::before {
    position: absolute;
    content: '';
    width: 6px;
    background-color: var(--azulClaro);
    height: 34px;
    top: -4px;
    transform: skewY(234deg);
    left: -6px;
} 

.secaoCompraPasseio__descricao h3 {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.3em;
}

.secaoCompraPasseio__descricao h3:hover {
    color: var(--azulClaro);
}

/* AVALIAÇÃO */
.descricao__estrelaAvaliacao {
    margin-bottom: 1rem;
}

.descricao__estrelaAvaliacao span {
    margin-right: 1rem;
}

.descricao__estrelaAvaliacao span i {
    color: var(--laranja);
    font-size: 0.8em;
}

.descricao__estrelaAvaliacao a {
    text-decoration: none;
    color: var(--cinza);
    font-size: 0.8em;
    letter-spacing: 1px;
}

.secaoCompraPasseio__descricao p {
    line-height: 1.5rem;
    font-size: 0.88em;
    color: var(--cinza);
    margin-bottom: 1rem;
}

.secaoCompraPasseio__descricao a {
    text-decoration: none;
}

.secaoCompraPasseio__descricao a:nth-child(5) {
    display: block;
    width: 9.5rem;
    padding: 1.2rem;
    margin-bottom: 1rem;
    text-decoration: none;
    transition: .4s;
    font-weight: 500;
    color: var(--preto);
    border: 2px solid var(--preto);
    position: relative;
}

.secaoCompraPasseio__descricao a:nth-child(5):hover{
    border: 2px solid var(--azulClaro);
    color: var(--branco);
}

.secaoCompraPasseio__descricao a:nth-child(5):hover::before {
    opacity: 1;
    width: 100%;
}

.secaoCompraPasseio__descricao a:nth-child(5)::before {
    content: '';
    background-color: var(--azulClaro);
    height: 100%;
    position: absolute;
    width: 70%;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: all .3s;
    z-index: -1;
}

/* SEÇÃO PASSEIOS DIFERENTES  */
.secaoPasseiosDiferentes {
    padding: 1.5rem 1.5rem 3.5rem 1.5rem;
}

.secaoPasseiosDiferentes h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1.7em;
}

.secaoPasseiosDiferentes__listaIntegrantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    list-style: none;
    gap: 2.5rem;
}

.secaoPasseiosDiferentes__integrantes {
    width: 100%;
    position: relative;
}

.secaoPasseiosDiferentes__integrantes:hover.secaoPasseiosDiferentes__integrantes img {
    top: 1rem;
}

.secaoPasseiosDiferentes__integrantes:hover.secaoPasseiosDiferentes__integrantes .circulo {
    opacity: 1;
    top: 65%;
}

.integrante__foto {
    position: relative;
}

.integrante__foto .circulo {
    width: 7.3rem;
    height: 7.3rem;
    border-radius: 50%;
    display: block;
    left: 50%;
    border: 4px solid var(--azulClaro);
    top: 79%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: .5s;
    opacity: 0;
}

.secaoPasseiosDiferentes__integrantes img {
    width: 100%;
    max-width: 7.32rem;
    max-height: 7.32rem;
    margin: auto;
    display: block;
    border-radius: 50%;
    position: relative;
    transition: .5s;
    top: 2rem;
}

.secaoPasseiosDiferentes__integrantes #pontasIntegrantes {
    width: 100%;
    max-width: unset;
    max-height: unset;
    border-radius: unset;
    top: 0;
}

.secaoPasseiosDiferentes__integrantes svg {
    margin-bottom: -4px;
    fill: #f7f7f7;
}

.integrantes__descricao {
    background-color: var(--cinza-claro);
    padding-bottom: 2rem;
}

.integrantes__descricao h2 {
    font-size: 1.1em;
    margin-bottom: 0.5rem;
}

.integrantes__descricao span {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--azulClaro);
}

.integrantes__descricao a {
    display: block;
    color: var(--preto);
    margin-top: 0.5rem;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 500;
}

/* SEÇÃO PRIMEIRAS IMPRESSÕES */
.secaoPrimeirasImpressoes {
    background-image: url(../img/banner-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1700px;
    background-attachment: fixed;
    padding: 5rem 0.83rem;
    text-align: center;
    color: var(--branco);
    position: relative;
}

.secaoPrimeirasImpressoes::before {
    content: '';
    background: rgba(24, 26, 35, 0.21);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.secaoPrimeirasImpressoes h2 {
    font-weight: 500;
    font-size: 2.27em;
    margin-bottom: 1.5rem;
    position: relative;
}

.secaoPrimeirasImpressoes p {
    color: var(--cinza-claro);
    margin-bottom: 1.5rem;
    position: relative;
}

.secaoPrimeirasImpressoes a {
    position: relative;
    display: inline-block;
    width: 11.5rem;
    padding: 1.2rem;
    margin-bottom: 1rem;
    text-decoration: none;
    transition: .4s;
    font-weight: 500;
    color: var(--branco);
    background-color: var(--azulClaro);
    border: 2px solid var(--azulClaro);
}

.secaoPrimeirasImpressoes a:hover {
    color: var(--branco);
    background-color: transparent;
    border: 2px solid var(--branco);
}

/* SEÇÃO GALERIA */
.secaoGaleria {
    background-color: var(--cinza-claro);
    padding: 4.1rem 1.7rem;
    position: relative;
}

.secaoGaleria h3 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--branco);
    font-weight: 500;
    padding: 0.5rem;
    width: 11rem;
    font-size: 1em;
    text-align: center;
}

.secaoGaleria___listaGaleria {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.secaoGaleria__itemGaleria {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.secaoGaleria__itemGaleria:hover.secaoGaleria__itemGaleria img {
    transform: scale(1.2);
}

.secaoGaleria__itemGaleria:hover.secaoGaleria__itemGaleria::after {
    opacity: 1;
}

.secaoGaleria__itemGaleria:hover.secaoGaleria__itemGaleria::before {
    opacity: 1;
    height: 85%;
    width: 90%;
}

.secaoGaleria__itemGaleria:hover.secaoGaleria__itemGaleria a {
    opacity: 1;
    top: 50%;
}

.secaoGaleria__itemGaleria::before {
    content: '';
    border: 1px solid var(--cinza-claro);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    bottom: 0;
    height: 75%;
    width: 80%;
    z-index: 1;
    transition: .5s;
    opacity: 0;
}

.secaoGaleria__itemGaleria::after {
    content: '';
    position: absolute;
    background-color: rgba(25, 24, 24, 0.45);
    width: 100%;
    height: 99%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .4s;
}

.secaoGaleria__itemGaleria img {
    width: 100%;
    transition: .4s;
}

.secaoGaleria__itemGaleria a {
    position: absolute;
    top: 43%;
    color: var(--branco);
    left: 50%;
    font-size: 2em;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: .5s;
    opacity: 0;
}

/* RODAPÉ */
.rodape {}

/* INFORMAÇÕES */
.rodape__info {
    background-color: var(--azulEscuro-1);
}

.rodape__listaInfo {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.rodape__info {}

.rodape__listaInfo h3 {
    color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1.3rem;
    font-size: 1.1em;
}

/* ITEM CONTATO */
.contactUs {}

.info__contato {
    display: grid;
    grid-template-columns: 50px 170px;
    grid-template-rows: 50px 50px 50px;
}

.info__contato span {
    color: var(--azulClaro);
    font-size: 1.5em;
}

.info__contato span:nth-of-type() {
    grid-column: 1/2;
    grid-row: 1/2;
}

.info__contato span:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2/3;
}

.info__contato span:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/4;
}

.info__contato span i {}

.info__contato a {
    color: var(--branco);
    text-decoration: none;
    font-size: 0.9em;
}

/* ITEM NOTICÍA */
.noticias {}

.info__noticiasPopulares {}

.info__noticia {
    margin-bottom: 1.5rem;
}

.info__noticia a {
    text-decoration: none;
    color: var(--azulClaro);
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 0.9em;
}

.info__noticia span {
    color: #9b9b9bb9;
    display: block;
    font-weight: 600;
    font-size: 0.8em;
}

/* ITEM LINKS RÁPIDOS */
.linksRapidos {}

.info__linksRapidos {}

.info__listaLinksRapidos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.info__link {}

.info__link a {
    text-decoration: none;
    display: flex;
    color: var(--branco);
    align-items: center;
    gap: 0.6rem;
}

.info__link a::before {
    content: '';
    background-color: var(--azulClaro);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: block;
}

.info__linksRapidos > a {
    text-align: center;
    position: relative;
    display: block;
    width: 10.5rem;
    padding: 1.2rem;
    margin: auto;
    margin-bottom: 1rem;
    text-decoration: none;
    transition: .4s;
    font-weight: 500;
    color: var(--branco);
    background-color: var(--azulClaro);
    border: 2px solid var(--azulClaro);
    z-index: 1;
}

.info__linksRapidos > a:hover::before {
    width: 100%;
    opacity: 1;
}

.info__linksRapidos > a::before {
    content: '';
    background-color: var(--verde);
    height: 100%;
    position: absolute;
    width: 70%;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: all .3s;
    z-index: -1;
}

/* CRÉDITOS */
.rodape__creditos {
    background-color: var(--azulEscuro-2);
    padding: 1.5rem;
}

.rodape__creditos > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.rodape__creditos p {
    color: var(--cinza);
    font-size: 0.75em;
    font-weight: 600;
}

.rodape__icones {
    order: -1;
}

.rodape__icones a {
    margin-right: 1rem;
}

.rodape__icones a i {}

.rodape__creditos  a {
    text-decoration: none;
    color: var(--cinza);
    font-weight: 600;
    font-size: 0.9em;
}